@mixin clearfloat {
    zoom: 1;
    &::after {
        content: "";
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
    }
}

@mixin text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin line-clamp {
    -webkit-line-clamp:2; 
    display: -webkit-box;
    -webkit-box-orient:vertical;
    overflow:hidden; 
    text-overflow: ellipsis;
}